{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
<main class="meal_plans-detail">
    <div>
        <p>
            <a href="{% url 'meal_plan_new' %}">Create a New</a>
        </p>
    </div>
    <div>
        <a href="{% url 'meal_plan_edit' object.id %}">Edit</a>
        <a href="{% url 'meal_plan_delete' object.id %}">Delete</a>
    </div>
    <h2>{{ mealplan.name }}</h2>
    {% for recipe in object.recipes.all %}
    <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
    </p>
    {% endfor %}
</main>
{% endblock content %}